.footer {
  width: 80%;
  margin: 1rem auto;
}

.footer-input {
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 1rem 0;
  font-size: 1rem;
  color: #fff;
  text-indent: 2rem;
  background: rgba(0, 0, 0, 0.8);
}
